In [1]:
import numpy as np
import pandas as pd
import sqlite3
import matplotlib.pyplot as plt

In [2]:
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/earthquake-magnitude-damage-and-impact/csv_building_ownership_and_use.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/csv_household_resources.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/csv_household_earthquake_impact.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/csv_individual_demographics.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/csv_building_structure.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/csv_household_demographics.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/mapping.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/ward_vdcmun_district_name_mapping.csv
/kaggle/input/earthquake-magnitude-damage-and-impact/csv_building_damage_assessment.csv

In [3]:
# assign dataset names
list_of_names = ['csv_building_ownership_and_use','csv_household_resources', 'csv_household_earthquake_impact',
                 'csv_individual_demographics', 'csv_building_structure', 'csv_household_demographics', 'mapping', 'ward_vdcmun_district_name_mapping',
                'csv_building_damage_assessment']

# create empty list
dataframes_list = []
  
# append datasets into the list
for i in range(len(list_of_names)):
    data_df = pd.read_csv('/kaggle/input/earthquake-magnitude-damage-and-impact/'+list_of_names[i]+".csv", low_memory=False)
    dataframes_list.append(data_df)

In [4]:
#checking the shape of each df
print(dataframes_list[0].shape)
print(dataframes_list[1].shape)
print(dataframes_list[2].shape)
print(dataframes_list[3].shape)
print(dataframes_list[4].shape)
print(dataframes_list[5].shape)
print(dataframes_list[6].shape)
print(dataframes_list[7].shape)
print(dataframes_list[8].shape)

(762106, 17)
(747365, 36)
(747365, 28)
(3677133, 11)
(762106, 31)
(747365, 11)
(3677133, 3)
(949, 5)
(762106, 79)

In [5]:
#assigning elements of dataframes list to individual df's

building_ownership_and_use = dataframes_list[0]
household_resources = dataframes_list[1]
household_earthquake_impact = dataframes_list[2]
individual_demographics = dataframes_list[3]
building_structure = dataframes_list[4]
household_demographics = dataframes_list[5]
mapping = dataframes_list[6]
ward_vdcmun_district_name_mapping = dataframes_list[7]
building_damage_assessment = dataframes_list[8]

In [6]:
#Creating earthquake sqlite database
conn = sqlite3.connect('earthquake.db')

#converting pandas dfs into sql tables
building_ownership_and_use.to_sql('building_ownership_and_use', conn, index=False, if_exists='replace')
household_resources.to_sql('household_resources', conn, index=False, if_exists='replace')
household_earthquake_impact.to_sql('household_earthquake_impact', conn, index=False, if_exists='replace')
individual_demographics.to_sql('individual_demographics', conn, index=False, if_exists='replace')
building_structure.to_sql('building_structure', conn, index=False, if_exists='replace')
household_demographics.to_sql('household_demographics', conn, index=False, if_exists='replace')
mapping.to_sql('mapping', conn, index=False, if_exists='replace')
ward_vdcmun_district_name_mapping.to_sql('ward_vdcmun_district_name_mapping', conn, index=False, if_exists='replace')
building_damage_assessment.to_sql('building_damage_assessment', conn, index=False, if_exists='replace')

In [7]:
tables = pd.read_sql("""

SELECT *
FROM sqlite_master
WHERE type = 'table';

""", conn)

tables

,type,name,tbl_name,rootpage,sql
0,table,building_ownership_and_use,building_ownership_and_use,2,"CREATE TABLE ""building_ownership_and_use"" (\n""..."
1,table,household_resources,household_resources,8090,"CREATE TABLE ""household_resources"" (\n""househo..."
2,table,household_earthquake_impact,household_earthquake_impact,34889,"CREATE TABLE ""household_earthquake_impact"" (\n..."
3,table,individual_demographics,individual_demographics,60539,"CREATE TABLE ""individual_demographics"" (\n""ind..."
4,table,building_structure,building_structure,128652,"CREATE TABLE ""building_structure"" (\n""building..."
5,table,household_demographics,household_demographics,164732,"CREATE TABLE ""household_demographics"" (\n""hous..."
6,table,mapping,mapping,178177,"CREATE TABLE ""mapping"" (\n""individual_id"" INTE..."
7,table,ward_vdcmun_district_name_mapping,ward_vdcmun_district_name_mapping,205728,"CREATE TABLE ""ward_vdcmun_district_name_mappin..."
8,table,building_damage_assessment,building_damage_assessment,205742,"CREATE TABLE ""building_damage_assessment"" (\n""..."

In [8]:
pd.set_option('max_columns', 180)
pd.set_option('max_rows', 200000)
pd.set_option('max_colwidth', 5000)

## Building ownership and use

In [9]:
pd.read_sql("""

SELECT *
FROM building_ownership_and_use;

""", conn)

,building_id,district_id,vdcmun_id,ward_id,legal_ownership_status,count_families,has_secondary_use,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,120101000011,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
1,120101000021,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
2,120101000031,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
3,120101000041,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
4,120101000051,12,1207,120703,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
762101,366709001241,36,3603,360302,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
762102,366709001251,36,3603,360302,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
762103,366709001261,36,3603,360302,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
762104,366709001271,36,3603,360302,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0
762105,366709001281,36,3603,360302,Private,1.0,0.0,0,0,0,0,0,0,0,0,0,0

## Household resources

In [10]:
pd.read_sql("""

SELECT *
FROM household_resources;

""", conn)

,household_id,district_id,vdcmun_id,ward_id,source_water_pre_eq,source_water_post_eq,source_cooking_fuel_pre_eq,source_cooking_fuel_post_eq,source_light_pre_eq,source_light_post_eq,type_toilet_pre_eq,type_toilet_post_eq,has_asset_land_pre_eq,has_asset_tv_pre_eq,has_asset_cable_pre_eq,has_asset_computer_pre_eq,has_asset_internet_pre_eq,has_asset_telephone_pre_eq,has_asset_mobile_phone_pre_eq,has_asset_fridge_pre_eq,has_asset_motorcycle_pre_eq,has_asset_four_wheeler_family_use_pre_eq,has_asset_four_wheeler_commercial_use_pre_eq,has_asset_none_pre_eq,has_asset_land_post_eq,has_asset_tv_post_eq,has_asset_cable_post_eq,has_asset_computer_post_eq,has_asset_internet_post_eq,has_asset_telephone_post_eq,has_asset_mobile_phone_post_eq,has_asset_fridge_post_eq,has_asset_motorcycle_post_eq,has_asset_four_wheeler_family_use_post_eq,has_asset_four_wheeler_commercial_post_eq,has_asset_none_post_eq
0,12010100001101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
1,12010100002101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
2,12010100003101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
3,12010100004101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Simple,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
4,12010100005101,12,1207,120703,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Simple,Flush-out lavatory with septic tank,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747360,36670900124101,36,3603,360302,Spring,Spring,Wood,Wood,Electricity,Solar,No toilet,No toilet,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
747361,36670900125101,36,3603,360302,Spring,Spring,Wood,Wood,Electricity,Solar,No toilet,No toilet,1,1,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
747362,36670900126101,36,3603,360302,Pipeline,Pipeline,Wood,Wood,Electricity,Electricity,Flush-out lavatory connected to public sewage line,Flush-out lavatory connected to public sewage line,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0
747363,36670900127101,36,3603,360302,Spring,Spring,Wood,Wood,Electricity,Solar,Flush-out lavatory with septic tank,Flush-out lavatory with septic tank,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
747364,36670900128101,36,3603,360302,Pipeline,Spring,Wood,Wood,Electricity,Solar,No toilet,No toilet,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0

## Household earthquake impact

In [11]:
pd.read_sql("""

SELECT *
FROM household_earthquake_impact;

""", conn)

,household_id,district_id,vdcmun_id,ward_id,shelter_condition_household_post_eq,residence_household_pre_eq,residence_household_post_eq,household_eq_id_type,has_death_occurred_last_12_months,count_death_last_12_months,has_injury_loss_occurred_last_12_months,count_injury_loss_last_12_months,has_education_drop_occurred_last_12_months,count_education_drop_last_12_months,has_pregnancy_treatment_drop_occurred_last_12_months,count_pregnancy_treatment_drop_last_12_months,has_vaccination_drop_occurred_last_12_months,count_vaccination_drop_last_12_months,has_occupation_change_occurred_last_12_months,count_occupation_change_last_12_months,residence_district_household_head_pre_eq,residence_district_household_head_post_eq,is_recipient_rahat_15k,is_recipient_rahat_10k,is_recipient_rahat_200k,is_recipient_rahat_social_security_3k,is_recipient_rahat_none,is_ineligible_rahat
0,12010100001101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,0.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,0.0,NaN,None,None,1,1,0,0,0,0
1,12010100002101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,None,None,0,0,0,0,1,0
2,12010100003101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,0,0,0,0,1,0
3,12010100004101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,0,0,0,0,1,0
4,12010100005101,12,1207,120703,Staying in their own house,This VDC/Municipality,This VDC/Municipality,Have not received ID Card,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
747360,36670900124101,36,3603,360302,Temporary shelter,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,1,1,0,0,0,0
747361,36670900125101,36,3603,360302,Temporary shelter,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,1.0,2.0,1.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,1,1,0,0,0,0
747362,36670900126101,36,3603,360302,Others,Other district,Other district,ID Card for Total Destruction,1.0,1.0,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,Kathmandu,Kathmandu,1,1,0,0,0,0
747363,36670900127101,36,3603,360302,Temporary shelter,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,1,1,0,0,0,0
747364,36670900128101,36,3603,360302,Temporary shelter,This VDC/Municipality,This VDC/Municipality,ID Card for Total Destruction,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,0.0,NaN,None,None,1,1,0,0,0,0

TBC ...